ITEM/\calltips.py
SETTING/ADDEXTRALINETOOUTPUT/0
SETTING/COLORIZEOUTPUT/13482779
SETTING/CUSTOMCONSOLEERRORCOLOR/-1
SETTING/DISABLEPOPUPWARNING/0
SETTING/OPENCONSOLEONERROR/1
SETTING/PREFERINSTALLEDPYTHON/0
SETTING/STARTUP/ATSTARTUP
